# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
build.bat
build_debug.bat
json_create
init.bat
eclipse.bat
gradlew
crash-reports
saves
mods
logs
resourcepacks
screenshots
config